{% extends 'base.html.twig' %}

{% block title %}Product!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% if products|length == 0 %}
                <h1>No products found.</h1>
            {% else %}
                {% for product in products %}
                    <div class="col-sm-3 m-3">
                        <div class="card" style="max-width: 18rem;">
                            <img class="card-img-top" src="{{ asset('build/img/product.jpg') }}"
                                 alt="Product images {{ product.id }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.price | number_format(2, ',', ' ') }} €</p>
                                <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
